:root {
  --bg: #1d2021;
  --bg-soft: #282828;
  --text: #ebdbb2;
  --accent: #fe8019;
  --border: #3c3836;
}


* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", Roboto, Arial, sans-serif;
}

/* ===== BASE ===== */
body {
  margin: 0;
  min-height: 100vh;
  background: #1d2021;
  color: #ebdbb2;
  display: flex;
  flex-direction: column;
}

/* ===== HEADER ===== */
header {
  height: 64px;
  background: #282828;
  border-bottom: 1px solid #3c3836;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 32px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #fabd2f;
}

nav {
  display: flex;
  justify-content: center;
  gap: 32px;
}

nav a {
  color: #d5c4a1;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: #fabd2f;
  border-color: #fabd2f;
}

nav a.active {
  color: #fe8019;
  border-color: #fe8019;
}

/* ===== CONTEÚDO ===== */
main {
  flex: 1;
  padding: 32px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* ===== FORM ===== */
form {
  background: #282828;
  border: 1px solid #3c3836;
  border-radius: 10px;
  padding: 20px;
}

form h2 {
  margin-top: 0;
  color: #fabd2f;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #d5c4a1;
}

input,
select {
  margin-top: 6px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #504945;
  background: #1d2021;
  color: #ebdbb2;
  outline: none;
}

input:focus,
select:focus {
  border-color: #fe8019;
}

/* ===== BOTÃO ===== */
button {
  margin-top: 24px;
  padding: 10px 24px;
  border-radius: 8px;
  background: #fe8019;
  border: none;
  color: #1d2021;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background: #fabd2f;
}

/* ===== RELATÓRIO ===== */
section {
  margin-top: 40px;
  background: #282828;
  border: 1px solid #3c3836;
  border-radius: 10px;
  padding: 24px;
}

section h2 {
  margin-top: 0;
  color: #fabd2f;
}

/* ===== FILTROS ===== */
.filters {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  gap: 20px;
  margin-bottom: 24px;
}

/* ===== TABELA ===== */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #3c3836;
  padding: 12px;
  font-size: 14px;
}

th {
  text-align: left;
  color: #fabd2f;
}
footer {
  margin-top: auto;
  text-align: center;
  padding: 15px;
  background: var(--bg-soft);
  border-top: 1px solid var(--border);
  font-size: 12px;
}
