

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/onstreet_delivery?useSSL=false&createDataBaseIfNotExist=true&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create